[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "churnproj"
version = "0.1.0"
dependencies = [
  "pandas",
  "numpy",
  "scikit-learn",
  "xgboost",
  "matplotlib"
]
requires-python = ">=3.9"